*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.app{
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0px solid green;

}

.piecharts{
  display: flex;
  border: 0px solid yellow;
  justify-content: center;
  align-items: center;

}
.bar-chart-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid pink;
  width: 100%;

}
.bar-chart-container{
  height: 700px;
  border: 0px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.pie-chart-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid pink;
  width: 100%;


}
.pie-chart-container{
  height: 500px;
  width: min-content;
  border: 0px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0 5px;
  width: 100%;
  
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even), th {
  background-color: #dddddd;
}
.filter-section{
  margin-top: 50px;
}