*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.app{
  width: 85%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.barcharts{
  width: 90%;

}
.bar-chart-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.bar-chart-container{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.piecharts-section{
  margin-top: 50px;
 display: flex;
 flex-direction: column;
}
.filter-section{
  margin: 0px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
#ageselect{
  margin: 0 20px;
}
.piecharts{
  display: flex;
  justify-content: center;
  align-items: center;

}
.pie-chart-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;


}
.pie-chart-container{
  height: 500px;
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0 5px;
  width: 100%;
  
}
